*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color: #d5e1ef;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    width: 300px;
    gap: 15px;
}
.content .image img{
    max-width: 100%;
    border-radius: 10px;
}
.content .text{
    text-align: center;
    line-height: 1.5;
}
.content .text .title{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 15px;
}
.content .text .rest-of-text{
    color: #999494;
    font-size: 16px;
    margin-bottom: 15px;
}